@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*#root {
  max-width: 1512px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-family: 'Nunito sans' sans-serif;
}*/


